.header__lang-link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.1;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: opacity .1s linear;
  -o-transition: opacity .1s linear;
  transition: opacity .1s linear;
}


.header__lang-link:hover {
  opacity: .8;
}

.header__lang-link:first-child {
  font-size: 0; 
}

@media (min-width: 375px){
  .header__lang-link:first-child {
    font-size: 18px;
    border-bottom: 2px solid #ffffff;
    margin-right: 15px;
  }
}

@media (min-width: 768px) {
  .header__lang-link {
    font-size: 24px;
  }
  .header__lang-link:first-child {
    font-size: 24px;
  }
}