html{
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-weight: normal;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background: #2A2C2F;
  margin: 0;
}

.page {
  font-family: 'Inter';
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  margin: 0;
  min-width: 100%;
  background-color: #2A2C2F;
}