.lead__vector  {
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 29px;
}



@media (min-width: 768px) {
  .lead__vector {
    margin-top: 70px;
  }
}

@media (min-width: 1024px) {
  .lead__vector {
    margin-top: 85px;
  }
}

@media (min-width: 1280px) {
  .lead__vector {
    margin-top: 90px;
  }
}