.outro__title {
  color: white;
  margin: 0;
  margin-bottom: 32px;
  position: relative;
  max-width: 560px;
  z-index: 3;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.2;
}