.footer__link {
  font-weight: normal;
  font-size: 24px;
  line-height: 1;
  width: fit-content;
  text-decoration: none;
  color: #ffffff;
  margin: 0;
  margin-bottom: 32px;
  -webkit-transition: opacity .1s linear;
  -o-transition: opacity .1s linear;
  transition: opacity .1s linear;
}

.footer__link:hover {
  opacity: .8;
}

.footer__link:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .footer__link {
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    margin-right: 18px;
  }
  .footer__link:last-child {
    margin-right: 0;
  }
}