.lead__title {
  font-family: 'Inter';
  max-width: 720px;
  margin: 0 auto;
  
  margin-bottom: 32px;
  font-weight: 900;
  font-style: normal;
  font-size: 96px;
  line-height: 1.1;
  text-align: center;
}