.outro__subtitle {
  position: relative;
  width: 270px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
}

@media (min-width: 768px) {
  .outro__subtitle {
    font-size: 18px;
    line-height: 1.22;
    min-width: 360px;
  }
}

@media (min-width: 1920px) {
  .outro__subtitle {
    font-size: 24px;
  }
}