.place__link {
  color: #ffffff;
  -webkit-transition: opacity .1s linear;
  -o-transition: opacity .1s linear;
  transition: opacity .1s linear;
  width: fit-content;
}

.place__link:hover {
  opacity: .8;
}

@media (min-width: 1024px) {
  .place__website {
    font-size: 18px;
    font-size: 18px;
    line-height: 1.22;
  }
}