.lead__caption {
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin: 0;
  margin-top: 7px;
  margin-left: 16px;
}

@media (min-width: 768px) {
  .lead__caption {
    margin-left: 24px;
    margin-top: 10px;
  }
}

@media (min-width: 1024px) {
  .lead__caption {
    margin-left: 48px;
    margin-top: 8px;
  }
}

@media (min-width: 1280px) {
  .lead__caption {
    margin-left: 148px;
    margin-top: 18px;
  }
}
