.outro {
  background-image: url(../../images/cover-trains.jpg);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 61vw;
  padding: 33px 16px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.outro::before {
  content: '';
  background: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: opacity .1s linear;
  -o-transition: opacity .1s linear;
  transition: opacity .1s linear;
}

.outro:hover::before {
  background: #2A2C2F;
  opacity: 0.8;
}

@media (min-width: 1024px) {
  .outro {
    height: 62.61vw;
  }
}

@media (min-width: 1280px) {
  .outro {
    width: calc(1184/1280*100vw);
    height: 57vw;
    padding: 0;
    margin: 0 auto;
  }
}