.place__website {
  font-size: 0;
}

@media (min-width: 768px) {
  .place__website {
    width: calc(100vw - 340px);
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: inline-block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px;
  }
}

